body {
    justify-content: center;
    margin: auto;
    background-color: lightgrey;
    height: 100vh;
}

.startButton {
  left: .75%;
  width: 30px;
  position: absolute;
  background-color: black;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: black 2px 2px 0 0;
  color: white;
  cursor: pointer;
  display:inline-block;
  font-size: 13px;
  font-family: "JetBrains Mono",monospace;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.startButton:hover {
  transform: scale(1.05);
}

.startButton:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#popUpBox {
  position: absolute;
  background-color: white;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 3;
  width: 50%;
  border: black 5px solid;
  box-shadow: 0 20px 20px rgba(53, 51, 51, 0.3);

}

#informationBox {
  padding: 20px 20px;
  display: grid;
  flex-direction: column;
  justify-content: end;
}

#x {
  justify-self: end;
}

#informationBox h3::after {
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  display: block;
  margin:auto;
}

#informationBox h3 {
  margin: 0;
  font-size: 1.5em;
}

#informationBox p {
  margin: 15px 0;
  font-size: 1.2em;
}

#informationBox button {
  appearance: button;
  justify-self: center;
  background-color: #4CAF50;
  border: solid transparent;
  text-decoration: none;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter .2s;
  white-space: nowrap;
  width: 90%;
  height:100%;
}

#informationBox button:after {
  background-clip: padding-box;
  background-color: #28a42a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#informationBox button:hover {
  filter: brightness(1.1);
  transform: scale(1.10);
}

#blurContainer {
  filter: blur(6px);
}

.header {
    width: 100%;
    text-align: center;
    height: fit-content;
}

#offsideContainer {
  visibility: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

#buttonContainer {
    display: flex;
    justify-content: center;

}

#buttonContainer .button {
    margin : 15px 50px;
    position:relative;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    font-family: "JetBrains Mono",monospace;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 20px;
    box-shadow:5px 5px 10px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.offsidePopup {
  font-family: "JetBrains Mono",monospace;
  font-size: 25px;
}

#buttonContainer .button:hover {
  transform: scale(1.05);
  background-color: #2d7f2f;
}

#buttonContainer .button:active {
  transform: translate(2px, 2px);
}

  .middleRow {
    height: fit-content;
    display: flex;
    width: 100%;
    height: 200px;
  }

  .settingBox {
    height: fit-content;
    margin-left: 60px;
    width:30%;
  }

  #infoText {
    background-color: white;
    font-size: 11px;
    width: fit-content;
    display: block;
    visibility: hidden;
    position: absolute;
    top: 7%;
    left: 10%;
    box-shadow:5px 5px 20px 5px rgba(0,0,0,0.2);
    transition: opacity 1s; 
    padding: 5px;
    z-index: 2;
  }

  .fa {
  display: block;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  }

  .fa:hover {
    transform: scale(1.05);
  }


  #buttonContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #buttonContainer2 .button {
    width: 55%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }

  #buttonContainer2 .button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  #buttonContainer2 .button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .textBox {
    width: 40%;
    justify-content: center;
    height: 100%;
    display: flex;
    margin-right: 4%;
  }

  #buttonContainer4 {
    width: 100%;
    height: fit-content;
    padding-top: 5%;
    text-align: center;
    justify-content: center;
  }

  .textBox button {
    appearance: button;
    background-color: #4CAF50;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: filter .2s;
    white-space: nowrap;
    width: 100%;
    height:100%;
  } 

  .textBox button:after {
    background-clip: padding-box;
    background-color: #28a42a;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .textBox button:hover {
    filter: brightness(1.1);
  }

  #scorePopup {
    font-size: 33px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    margin-top: 10%;
  }

  .scoreTracker {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
  }

  #buttonContainer3 {
    display: flexbox;
    height: fit-content;
  }

  #buttonContainer3 button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #36395A;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    white-space: nowrap;
    will-change: box-shadow,transform;
    width:15px;
    height: 15px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }

  .containerRow {
    height: fit-content;
    padding-top: 1%;
  }

  .head { 
    width: 100px;
    height: 100px;
    background-color: #F2C100;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .body {
    width: 120px;
    height: 240px;
    margin: 0 auto;
    position: relative;
  }
  
  .left-arm,
  .right-arm {
    position: absolute;
    width: 40px;
    height: 160px;
    background-color: black;
    top: 60px;
  }
  
  .right-arm {
    left: -50px;
    border-radius: 20px 0 0 20px;
    transform-origin: top; /* Set the rotation origin to the top */
    transition: transform 1s ease; /* Add transition for smooth animation */
  }
  
  .left-arm {
    right: -50px;
    border-radius: 0 20px 20px 0;
    transition: transform 1s ease;
    transform-origin: top;
  }
  
  .legs {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 200px;
    left: 0;
  }
  
  .left-leg,
  .right-leg {
    width: 40px;
    height: 60px;
    background-color: black;
    margin: 0 auto;
  }
  
  .left-leg {
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  
  .right-leg {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  
  .shoes {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 320px;
    left: 0;
  }
  
  .left-shoe,
  .right-shoe {
    width: 40px;
    height: 20px;
    background-color: black;
    margin: 0 auto;
  }
  
  .left-shoe {
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  
  .right-shoe {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .SoccerField {
    justify-content: center;
    width: 100%;
    height: 425px;
    perspective: 1000px;
  }

  .Player {
    position: relative;
    transform: scale(0.2);
    display: flex;
    z-index: 2;
    top: -100px;
    right: 20px;
    width: 100%;
  }

  .field {
    position: relative; /* Set the container position to use z-index */
  }

  .field img {
    width: 110%; /* Adjust the width to fit the container */
    height: 200%; /* Maintain aspect ratio */
    position: absolute; /* Position the image inside the container */
    top:-80%;
    left: -5%;
    backface-visibility: hidden; /* Hide the backface of the image */
    transform-origin: center center; /* Set the rotation origin */
    transform: rotateX(50deg) translateY(100px) translateZ(-100px);
    display: block;
    z-index: 0;
    image-rendering: optimizeQuality;
  }

  #Offender {
    position: relative;
    top: 200px;
    left: 400px;
  }

  #Defender {
    position: relative;
    top: 300px;
    left: 1000px;
  }

  #Passer {
    position: relative;
    left: 200px;
    top: 600px;
  }

  .offense {
    background-color: red;
  }

  .defense {
    background-color: blue;
  }

  .shoes img {
    position:relative;
    height: 90px;
    width: 90px;
    top: -160px;
    left: 50px;
    transition: 3s;
    /* animation: rotate 2s linear; */
  }
  
  @keyframes rotate {
    0% {
      transform:rotate(0deg);
      top: 0; /* For some reason the ball will rotate up*/
    }
    100% {
      transform:rotate(360deg);
      top: 0;
    }
  }

  @media(max-width: 955px) {
    #buttonContainer2 .button {
      font-size: 11px;
    }
  }

  @media(max-width: 775px) {
    #buttonContainer2 .button {
      font-size: 9px;
    }
  }

  @media(max-width: 640px) {
    #buttonContainer2 .button {
      font-size: 7px;
    }
  }

  @media(max-width: 515px) {
    #buttonContainer2 .button {
      font-size: 5px;
    }
  }
  
