#popUpBox.hide {
    opacity: 0;
    top: -400px;
}

#popUpBox.show {
    opacity: 1;
    top: 0px;
}

#topLinks.show {
    right: 0px;
    opacity: 1;
}

/* Handle position for small screens */
@media (max-width: 700px) {
    #popUpBox.hide {
        right: -200px; /* Adjust based on your design */
    }

    #popUpBox.show {
        right: 0px;
    }

    @media (max-height: 700px) {
        #popUpBox.hide {
            right: -280px;
        }
    }
}